/*
* Author: 		Trevor Morris, Creation Design & Marketing
* Contact:		trevor@creation.uk.com, leigh@creation.uk.com
* Version:		1.0
* Created:		24/04/2007
* Updated:		06/06/2007
* Notes:		Below is the core code for resuing in common
				techniques such as image replacement, easy clearing and
				a method of hiding elements without display: none;
*
* CONTENTS
* -------------------------
* Accessible Hiding
* Image Replacement
* Easy Clearing
*
*/

/* Accessible Hiding
-------------------------------------------------------------------------------------------------- */
.access,
legend,
#skiplinks li a,
.vcard_geo,
.geo,
h2,
#branding-strapline,
.hentry p.more a.bookmark strong,
.hcard a.include,
#content-navigation h3,
#image-navigation h3,
#content-primary .mini-container p.author,
#contact-address dt,
table caption,
#contact-address h3,
.flash-replaced .alt,
#comments-form form dt.checkbox,
.technorati,
#footer-copyright p.vcard em,
#footer-signature dl dt {
	position: absolute; top: -9999px; left: -9999px;
	overflow: hidden;
	height: 0.0; width: 0.0;
	font-size: 0.0; line-height: 0.0;
}


/* Image Replacement (Phark) http://phark.typepad.com/phark/2003/08/accessible_imag.html
-------------------------------------------------------------------------------------------------- */
.phark,
#xhr_loading,
table#updates td.edit a,
#subscribe-icons li a,
form fieldset.submit-fieldset input.replaced,
#content-primary div.image ul.pagination li a,
#content-primary div.image a,
#news-subscribe p.feed a,
body.eshot-permalink #branding h1 a,
form.quicksearch #loader {
	display: block;	overflow: hidden;
	font-size: 0.0;	line-height: 0.0;
	text-decoration: none; text-indent: -9999px;
	background: transparent no-repeat 0 0;
	border: 0;
}

/* Image Replacement (Gilder/Levin) http://levin.grundeis.net/files/20030809/alternatefir.html
-------------------------------------------------------------------------------------------------- */
#hello p, #hello p span.gl-ir,
#vision, #vision span.gl-ir,
#content-navigation ul li a, #content-navigation ul li a span.gl-ir,
body.colophon #colophon, body.colophon #colophon span.gl-ir,
#footer-copyright p.vcard, #footer-copyright p.vcard span.gl-ir,
#navigation-primary ul li a, #navigation-primary ul li a span.gl-ir,
#footer-copyright p.top a, #footer-copyright p.top a span.gl-ir,
body.eshot #content h3.entry-title, body.eshot #content h3.entry-title span.gl-ir {
	position: relative;
	display: block; overflow: hidden;
}
#hello p span.gl-ir,
#vision span.gl-ir,
#content-navigation ul li a span.gl-ir,
body.colophon #colophon span.gl-ir,
#footer-copyright p.vcard span.gl-ir,
#navigation-primary ul li a span.gl-ir,
#footer-copyright p.top a span.gl-ir,
body.eshot #content h3.entry-title span.gl-ir {
	position: absolute; top: 0; left: 0; z-index: 5001;
	margin: 0; padding: 0;
	font-size: 0.0; line-height: 0.0;
}
/*
#hello p,
#vision,
#content-navigation ul li a,
body.colophon #colophon,
#footer-copyright p.vcard,
#navigation-primary ul li a,
#footer-copyright p.top a
*/




/* Easy Clearing - http://www.positioniseverything.net/easyclearing.html
-------------------------------------------------------------------------------------------------- */
.clearfix::after,
#content::after,
#content-primary::after,
#footer::after,
form::after {
	content: '.';
	clear: both;
	display: block; visibility: hidden;
	height: 0.0; width: 0.0;
	font-size: 0.0;	line-height: 0.0;
}