html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,p,blockquote,img{font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;background:transparent;margin:0;padding:0;}
html,body{position:relative;line-height:1;background-color:#fff;background:#585756 url(http://creation.trovster.com/css/images/general/background.gif) repeat 0 0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400;}
ul,ol{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;}
q::before,q::after,blockquote::before,blockquote::after{content:'';}
q,blockquote{quotes:"" "";}
abbr,acronym,fieldset,img,a img,:link img,:visited img{border:0;}
h2,#footer-signature dt{display:none;}
body.eshot-permalink #branding h1 a{display:block;overflow:hidden;font-size:0.0;line-height:0.0;text-decoration:none;text-indent:-9999px;background:transparent no-repeat 0 0;border:0;position:absolute;right:49px;z-index:50;top:560px;}
body.eshot-permalink #content h3.entry-title,body.eshot-permalink #content h3.entry-title span.gl-ir{position:relative;display:block;overflow:hidden;}
body.eshot-permalink #content h3.entry-title span.gl-ir{position:absolute;top:0;left:0;z-index:5001;font-size:0.0;line-height:0.0;margin:0;padding:0;}
html{font-size:16px;}
body{position:relative;font:normal normal 62.5%/1.5 Helvetica, Arial, sans-serif;line-height:1.5;}
p,ul,ol,dl,blockquote,form,pre,table{margin:0 0 1em;}
em{font-style:italic;}
ol{margin-left:16px;list-style-type:decimal;}
ul li{background:url(http://creation.trovster.com/css/images/general/list-bullet.gif) no-repeat 0 .6em;padding-left:10px;}
blockquote{font-style:italic;font-size:1.09em;line-height:1.35;}
h3{text-transform:uppercase;line-height:1.15;font-size:1.36em;}
a{text-decoration:none;}
#container{position:relative;width:720px;background-color:#fff;border-top:4px solid #900;font-size:1.2em;margin:0 auto;padding:0 20px;}
#container,#branding{width:560px;background:#fff;}
#branding,#branding h1{position:absolute;top:0;left:0;z-index:50;width:600px;background-image:none;padding:0;}
#content{position:relative;zoom:1.0;padding-top:30px;padding-bottom:20px;}
#content .entry-content{position:relative;width:335px;padding:70px 20px 0;}
#content .entry-content p em{color:#900;font-style:normal;}
#content .entry-content strong em{text-transform:uppercase;font-weight:700;}
#content .entry-content strong em a{text-transform:none;}
#content .entry-content h4{font-size:1.55em;}
#content .entry-content h4 strong{display:block;margin-bottom:1em;text-transform:none;line-height:1.25;font-weight:400;}
#content .entry-content h4 strong a{font-size:.65em;}
#content .entry-content h4 strong,#content .entry-content strong em a{color:#333;}
#content .entry-content strong em a:hover,#content .entry-content strong em a:active,#content .entry-content strong em a:focus{border-bottom-color:#777;}
#content h3.entry-title,#content h3.entry-title span.gl-ir{position:absolute;top:70px;left:15px;margin-top:0;color:#000;}
#content .entry-content h4,#content .entry-content a,#content #content-primary .entry-content em strong{color:#c06;}
#content .entry-content a:hover{border-bottom-color:#c06;}
#content #content-primary .entry-content p{position:relative;clear:left;}
#content #content-primary .entry-content em{color:#000;font-style:italic;}
#footer{padding-bottom:1px;line-height:1.25;margin:0;}
#footer-copyright{margin:0 -20px;}
#footer-signature{padding:0 20px;}
#signature-details{margin:25px 0;}
#eshot-by{margin:15px 0 25px;}
#footer .footer-extra,#footer-signature dl{font-size:.85em;}
#footer .footer-extra,#footer .footer-extra a{color:#999;}
.footer-extra p{margin:0;}
#footer-signature dl dd abbr.type{text-transform:lowercase;}
#footer-signature em.fn,#footer-signature strong.org{display:block;font-style:normal;}
#footer-signature strong.org{margin-top:15px;}
body.colour-blue #content h3.entry-title{top:70px;left:15px;line-height:170px;}
body.colour-blue #content{background:url(http://creation.trovster.com/css/specifics/eshots/images/[3]_visual-blue.jpg) no-repeat 0 30px;}
body.colour-blue #content h3.entry-title,body.colour-blue #content h3.entry-title span.gl-ir{height:170px;width:260px;background:url(http://creation.trovster.com/css/specifics/eshots/images/[3]_title-blue.jpg) no-repeat 0 0;}
body.colour-green #content h3.entry-title{top:58px;left:8px;line-height:170px;}
body.colour-green #content{background:url(http://creation.trovster.com/css/specifics/eshots/images/[3]_visual-green.jpg) no-repeat 0 30px;}
body.colour-green #content h3.entry-title,body.colour-green #content h3.entry-title span.gl-ir{height:170px;width:367px;background:url(http://creation.trovster.com/css/specifics/eshots/images/[3]_title-green.jpg) no-repeat 0 0;}
body.colour-red #content h3.entry-title{top:73px;left:16px;line-height:170px;}
body.colour-red #content{background:url(http://creation.trovster.com/css/specifics/eshots/images/[3]_visual-red.jpg) no-repeat 0 30px;}
body.colour-red #content h3.entry-title,body.colour-red #content h3.entry-title span.gl-ir{height:170px;width:323px;background:url(http://creation.trovster.com/css/specifics/eshots/images/[3]_title-red.jpg) no-repeat 0 0;}
strong,h4{font-weight:700;}
#content #content-primary .entry-content h4 strong,#footer-signature dl dd abbr.type,#footer-signature dl a{color:#000;}
#footer .footer-extra a:hover,#footer .footer-extra a:focus,#footer .footer-extra a:active,#footer-signature dl a:hover,#footer-signature dl a:focus,#footer-signature dl a:active{text-decoration:underline;}

body.eshot-permalink #branding h1 a{
	width:137px; height:34px;
	background-image: url(http://creation.trovster.com/css/specifics/eshots/images/[3]_creation-logo-white.gif);
}
